html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body {
	background-color: #353b48;
	padding-top: 100px;
}

.content a, .content a:link, .content a:visited, .content a:hover,
	.content a:active {
	text-decoration: none;
	color: inherit;
}

.items {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	margin: 30px auto;
	/*box-shadow: 10px 10px 30px 0px #888888;*/
	width: 900px;
	padding: 10px 10px;
	height: 120px;
	background-color: #f5f6fa;
}

.c1 {
	font-size: 20px;
	justify-content: space-between;
	flex-basis: 65%;
}

.item_img {
	margin: auto 10px;
	flex-basis: 15%;
}

.item_img img {
	height: 80px;
	width: 80px;
}

.c2 {
	margin: auto 0;
	flex-basis: 20%;
	display: flex;
	flex-direction: row;
}

.btn2 {
	background-color: #eeeeee;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	border: 0;
	outline: none;
	margin-left: 10px;
	/*去掉点击后的边框*/
}

.btn2:hover {
	background-color: #555555;
	color: white;
}

.btn2:active {
	transform: translate(1px, 2px);
}

.btn2.focus, .btn2:focus {
	/*为了覆盖btn中的属性*/
	outline: 0;
	box-shadow: 0 0;
}

.intro {
	font-size: 15px;
	color: #c8c8c8;
}