<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isearch.dao.CsDlDao">
	<resultMap id="BaseResultMap" type="com.isearch.entity.CsDl">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="link1" property="link1" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="dl_last_update_time"
			property="dlLastUpdateTime" jdbcType="DATE" />
		<result column="download_time" property="downloadTime"
			jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="link2" property="link2" jdbcType="VARCHAR" />
		<result column="link3" property="link3" jdbcType="VARCHAR" />
		<result column="intro" property="intro" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, link1, img, version, name, dl_last_update_time, download_time, score,
		remark,
		link2, link3, intro
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cs_dl
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from cs_dl
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.isearch.entity.CsDl">
		insert into cs_dl (id, link1, img,
		version, name, dl_last_update_time,
		download_time, score, remark,
		link2, link3, intro
		)
		values (#{id,jdbcType=INTEGER}, #{link1,jdbcType=VARCHAR},
		#{img,jdbcType=VARCHAR},
		#{version,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dlLastUpdateTime,jdbcType=DATE},
		#{downloadTime,jdbcType=INTEGER}, #{score,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{link2,jdbcType=VARCHAR}, #{link3,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.isearch.entity.CsDl">
		insert into cs_dl
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="link1 != null">
				link1,
			</if>
			<if test="img != null">
				img,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="dlLastUpdateTime != null">
				dl_last_update_time,
			</if>
			<if test="downloadTime != null">
				download_time,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="link2 != null">
				link2,
			</if>
			<if test="link3 != null">
				link3,
			</if>
			<if test="intro != null">
				intro,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="link1 != null">
				#{link1,jdbcType=VARCHAR},
			</if>
			<if test="img != null">
				#{img,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="dlLastUpdateTime != null">
				#{dlLastUpdateTime,jdbcType=DATE},
			</if>
			<if test="downloadTime != null">
				#{downloadTime,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="link2 != null">
				#{link2,jdbcType=VARCHAR},
			</if>
			<if test="link3 != null">
				#{link3,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				#{intro,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.isearch.entity.CsDl">
		update cs_dl
		<set>
			<if test="link1 != null">
				link1 = #{link1,jdbcType=VARCHAR},
			</if>
			<if test="img != null">
				img = #{img,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="dlLastUpdateTime != null">
				dl_last_update_time = #{dlLastUpdateTime,jdbcType=DATE},
			</if>
			<if test="downloadTime != null">
				download_time = #{downloadTime,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="link2 != null">
				link2 = #{link2,jdbcType=VARCHAR},
			</if>
			<if test="link3 != null">
				link3 = #{link3,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				intro = #{intro,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.isearch.entity.CsDl">
		update cs_dl
		set link1 = #{link1,jdbcType=VARCHAR},
		img = #{img,jdbcType=VARCHAR},
		version = #{version,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		dl_last_update_time = #{dlLastUpdateTime,jdbcType=DATE},
		download_time = #{downloadTime,jdbcType=INTEGER},
		score = #{score,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		link2 = #{link2,jdbcType=VARCHAR},
		link3 = #{link3,jdbcType=VARCHAR},
		intro = #{intro,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="listAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cs_dl
	</select>
</mapper>